{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "esmodules": true
        }
      }
    ]
  ],
  "plugins": [
    "@vue/babel-plugin-jsx"
  ]
}
